<h1>Editing Class Note</h1>

<table>
<thead>
  <tr>
      <th>When you are finished editing, be sure to click the "update" button below. Be careful not to delete important information from the notes you have taken!  </th>
    <th colspan="3"></th>
  </tr>
</thead>
<%= render 'form', individual_project1: @individual_project1 %>

<%= link_to 'Show', @individual_project1 %> |
<%= link_to 'Back', individual_project1s_path %>
