<h1>New Class Note</h1>
<table>
<thead>
  <tr>
      <th>What class is this for?
      What is the topic for class today?
      What are the key points from the lecture or discussion?
      Did the instructor say anything that you found interesting?
      What kind of questions do you have?
      When you're finished, be sure to click the "Create" button below!  </th>
    <th colspan="3"></th>
  </tr>
</thead>
<%= render 'form', individual_project1: @individual_project1 %>

<%= link_to 'Back', individual_project1s_path %>
